.page  {
    position: relative;
    min-height: 100vh;
}
/*set flex to column */
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    padding-bottom:30px;
}
/*navigation*/
.nav {
    margin-top: 15px;
}
li {
    display: inline
}

.nav-list-left{
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
.nav-list-right {
    float:right;
    margin-right: 30px;
}
.nav-item, .nav-item-apps {
    margin: 0px 8px;
}

.nav-item-apps {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    fill: #5f6368;
}
.nav-item-apps:hover {
    fill: black;
}
a {
    text-decoration: none;
}

nav li a{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
}

li a:hover {
    text-decoration: underline;
}
.nav-item-signin {
    background-color: #4285f4;
    border:#4285f4;
    height: 30px;
    width: 65px;
    border-radius: 2px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*main page*/
main {
    padding-top: 150px;
}
.image-container {
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
}
.main-form-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
#magGlass {
    height: 18px;
    width: auto; 
    position: absolute;
    margin-top: 34px;
    margin-left: 40px;
}
#search {
    display: flex;
    height: 40px;
    width: 475px;
    border-radius: 25px;
    border-style: solid;
    border-color:#f2f2f2;
    margin: 20px;
}
#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
#mic {
    height: 24px;
    width: auto;
    position: aboslute;
    float: right;
    margin-top: -55px;
    margin-right: 40px;     
}
.main-submit {
    display: flex;
    justify-content: center;
}
.search-buttons {
    margin: 0px 10px;
    height: 35px;
    width: 125px;
    border-radius: 2px;
    border: white;
    color: rgb(95, 99, 104);
    font-family: Arial, Helvetica, sans-serif;
}
.main-submit button:hover {
    color: black;
    border:solid;
    border-color: rgb(206,206,207);
    border-width: .5px;
}
/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-bottom: 10px; 
}
.footer-list-right {
    margin-right:30px;
}
.footer-list-left {
    margin-left: 30px;
}
.footer-item {
    margin: 0px 8px;
}
footer li a {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color:#5f6368;
}